@import url('http://fonts.googleapis.com/css?family=Open Sans:400,600');
*
{
    margin: 0;
    padding: 0;
}

body, input
{
    color: #666;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}
p, #select-file, #file-password {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: #0CF;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
    list-style-type: none;
}

li:last-child {
    margin-bottom: 0;
}
input {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.blue-strong
{
    color: #09F;
    font-weight: 600;
}

.tick, .arrow {
    display: inline-block;
    width: 22px;
    margin-right: 5px;
    font-size: 24px;
    text-align: center;
    line-height: 16px;
}
.tick {
    color: #5C5;
}
.arrow {
    color: #09F;
}

#header {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #111;
    font-size: 18px;
}
#header a {
    color: #0CF;
}
#main {
    margin: 0 20px;
}
#what-allowed, #file-ready {
    margin-bottom: 20px;
}
#file-input {
    display: none;
}
#select-file, #submit-file, #get-file, #download-url {
    padding: 20px;
}

#select-file, #submit-file, #get-file {
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
}

#select-file {
    background-color: #0CF;
}
#choose-password {
    margin-bottom: 14px;
}
#submit-file, #get-file {
    background-color: #5C5;
}
#submit-file {
    display: none;
}
#download-url {
    background-color: #EEE;
    text-align: center;
}

#footer {
    text-align: center;
}